@import "../css/bootstrap/bootstrap.min.css"; 
@import "https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i";

@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';


/*
@import "../font-awesome/css/font-awesome.min.css";
*/

@import "../css/devicons/css/devicons.min.css";
@import "../css/simple-line-icons/css/simple-line-icons.css";
@import "../css/style.css";
